
// High Level Settings common to both the iOS application and any extensions we bundle with it
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor;
CLANG_CXX_LANGUAGE_STANDARD = "gnu++14";
COMBINE_HIDPI_IMAGES = YES
GCC_C_LANGUAGE_STANDARD = gnu11;
SDKROOT = iphoneos;
SUPPORTS_MACCATALYST = YES;
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES;
TARGETED_DEVICE_FAMILY = 1,2,6
